<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{{ title if title else "Voice Screening Model" }}</title>
  <link rel="stylesheet" href="/static/app.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <header class="topbar">
    <div class="brand">
      <img src="/static/file.svg" class="logo" alt="logo"/>
      <div>
        <div class="brand-title">Voice Screening Model</div>
        <div class="brand-sub">Non-invasive voice analysis demo (research use)</div>
      </div>
    </div>

    <nav class="nav">
      <a href="/">Home</a>
      <a href="/record">Patient</a>
      <a href="/dashboard?filter=all&source=predicted">Dashboard</a>
      <a href="/dashboard/model-report">Model report</a>
    </nav>
  </header>

  <main class="container">
    {% block content %}{% endblock %}
  </main>

  <footer class="footer">
    <div>
      <div><strong>Developed by:</strong> Department of ENT, GSVM Medical College, Kanpur</div>
      <div><strong>By:</strong> Dr. Neha Chaudhary (JR), Prof. (Dr.) Harendra K. Gautam (MS), Mr. Mudit Mahajan</div>
      <div>Under the guidance of Prof. Dr. S.K. Kanaujia (MS)<br>
        Dr. Amrita Srivastava (MS), Dr. Nishant S. Saxena (MS)</div>
    </div>
  </footer>
  <div class="disclaimer-wrapper">
    <div class="disclaimer">
      <strong>Disclaimer:</strong> This tool is for research purposes only. It must not be used for clinical diagnosis without validation.
    </div>
  </div>

  <script src="/static/app.js"></script>
</body>
</html>
